.champion-grid {
  display: flex;
  flex-wrap: wrap;
}

.champion-grid-header {
  display: flex;
  justify-content: space-between
}

.champion-grid-title {
  color: #fff;
}

.champion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.champion {
  width: 90px;
  height: 110px;
  border: 1px solid #3339;
  background: rgb(24, 35, 56);
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  color: #fff;
}

.champion-name {
  font-size: 0.8em;
}

.champion-icon {
  width: 70px;
  height: 70px;
}

.champion-banner {
  width: 45x;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 10px;
}