.summoner-icon {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  border: 3px solid gold;
}

body {
  background: #202B43
}

.jumbotron-fluid {
  background-image: url("../assets/background.jpeg");
  background-color: #cccccc;
  margin-bottom: 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding: 5px 50px 0px 5px;
  display: flex;
  justify-content: flex-end;
}

.summoner-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summoner-name {
  font-size: 3em;
  color: #fff;
  margin-left: 2em;
}


.summoner-level {
  color: white;
  font-size: 2em;
}

.nav {
  background: #1b2838;
}


.nav-tabs {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
}

.nav-tabs a {
  background-color: none;
  color: #999;
  
}

.nav-tabs a.nav-item.nav-link.active {
  border: none;
  border-bottom: 4px solid #5C4C9F;
  background: none;
  color: #fff;
  outline: none;
}

.nav-tabs a:hover {
  border: none;
  outline: none;
}

.nav-tabs a:active {
  border: none;
  outline: none;
}
