.summoner-icon {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  border: 3px solid gold;
}

.jumbotron-fluid {
  background-image: url("../assets/background.jpeg");
  background-color: #cccccc;
  height: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summoner-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summoner-name {
  font-size: 3em;
  color: #fff;
  margin-left: 2em;
}


.summoner-level {
  color: white;
  font-size: 2em;
}

.champion-grid {
  display: flex;
  flex-wrap: wrap;

}


.champion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.champion {
  width: 120px;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #Dddd;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}

.m7 {
  background-color: #edfffd;
}

.m6 {
  background-color: #ede9ff;
}

.m5 {
  background-color: #f3e1e1;
}

.m4 {
  background-color: #f2f1de;
}

.champion-name {
  font-size: 0.8em;
}

.champion-icon {
  width: 90px;
  height: 90px;
}

.champion-banner {
  width: 45x;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 10px;
}